torch>=2.0.0
numpy
matplotlib
scikit-learn
wandb
datasets
spacy
sacrebleu
tqdm
seaborn
gdown

# After installing, download spaCy models:
# python -m spacy download de_core_news_sm
# python -m spacy download en_core_web_sm